*.suo
*~
*.user
*.aps
*.ipch
*.sdf
*.opensdf

# Log files
*_log.txt

# Build/output directories
obj/
bin/
build/

# Installer output
Installer/Output

# Installer pre-processor
Installer/PreprocessedpGina0.iss
/pGina/src/.vs/*
/pGina/src/packages/**
/pGina/src/*.log
/Plugins/*.log
/Plugins/*/packages/*
/Plugins/*/.vs/*
/Plugins/**/Release/**/*.log
/Plugins/**/*.log
