<!-- Secondary content: Stuff that goes in the secondary content column (by default, the narrower right column) -->
{% if page.pageid != "Documentation" %}
		<div id="secondarycontent">
			<!-- Secondary content area start -->
		
			<div>
				<h4>Additional Resources</h4>
				<div class="contentarea">
					<ul class="linklist">
            <li><a href="{{ site.url }}/documentation.html">Documentation</a></li>
						<li><a href="https://github.com/MutonUfoAI/pgina/" target="_blank">pGina fork on Github</a></li>
						<li><a href="http://pgina.org/" target="_blank">pGina</a></li>
					</ul>
				</div>
			</div>
			<!-- Secondary content area end -->
		</div>
{% endif %}